{% if items|length > 0 %}
  <div class="flyntComponent" is="flynt-grid-all-posts">
    <div class="container">
      <div class="grid-filter">
        <a class="filter filter-events pillCircle">EVENTS</a>
        <a class="filter filter-articles pillCircle">ARTICLES</a>
        <a class="filter filter-podcasts pillCircle">PODCASTS</a>
        
      </div>
      <ul class="grid grid-home">
        {% for item in items %}
          <li class="grid-item grid-item--{{ item.type.labels.singular_name }}">
            <a class="grid-item-link" href="{{ item.link }}">
              {% if item.thumbnail %}
              <div class="featuredInfo featuredInfo-top">
                <div class="date">{{ item.datePost|date("d.m.Y")|escape('wp_kses_post') }}</div>
                <div class="post-type">{{ item.type.labels.singular_name }}</div>
              </div>
              {% endif %}
              <div class="featuredImage">
                <img class="figure-image lazyload" src="{{ item.thumbnail.src }}" />
                {# src="{{ slide.images.imageDesktop | resize(2048, 1024) }}"
                data-srcset="{{function('wp_get_attachment_image_srcset', slide.images.imageDesktop.id)}}"
                alt="{{ slide.images.imageDesktop.alt|e }}"> #}
              </div>
              <div class="featuredInfo featuredInfo-bottom">
                <p class="title">{{ item.title }}</p> 
              </div>
            </a>
          </li>
        {% endfor %}
      </ul>
      {# <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="button button--link">{{ labels.allPosts }}</a>
      </div> #}
    </div>
  </div>
{% endif %}
