{% extends 'templates/_document.twig' %}

{% block content %}
  

  <ul class="list">
    {% for post in latestArticles %}
    <li class="list-item">
      <a class="list-item-link" href="{{ post.link }}">
        <div class="featuredInfo">
          <div>{{ post.datePost|date("d.m.Y")|escape('wp_kses_post') }}</div>
          <p class="title" href="{{ post.link }}">{{ post.title }}</p>
        </div>
        {% if post.thumbnail %}
        <div class="featuredImage">
          {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeFull' }, noComponentSpacing: true }) }}
        </div>
        {% endif %}
      </a>
    </li>
    {% endfor %}
  </ul>
  
{% endblock %}
