{% extends 'templates/_document.twig' %}

{% block content %}
  {# {% for component in post.meta('pageComponents') %}
    {{ renderComponent(component) }}
  {% endfor %} #}
  <ul class="list-podcasts">
    {% for post in podcastlist %}
      <li class="list-episodes-item" onclick="javascript:location.href='{{ post.link }}'">
        <div class="content">
          <a class="title" href="{{ post.link }}">{{ post.title|e }}</a>
          {# <p>{{ post.dateEpisode|date("d.m.Y")|escape('wp_kses_post') }}</p> #}
          <div class="featuredImage">
            {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeLarge' }, noComponentSpacing: true }) }}
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
