{% extends 'templates/_document.twig' %}

{% block content %}
  {% for component in post.meta('pageComponents') %}
    {{ renderComponent(component) }}
  {% endfor %}
  
  <h1 class="section-title">Upcoming Events</h1>
  <ul class="list-events list-events--future">
    {% for post in futureEvents %}
    <li class="list-events-item" onclick="javascript:location.href='{{ post.link }}'">
      <div>{{ post.dateEvent|date("d.m.Y")|escape('wp_kses_post') }}</div>
      <a class="title" href="{{ post.link }}">{{ post.title|e }}</a>
    </li>
    {% endfor %}
  </ul>

  <h1 class="section-title">Past Events</h1>
  <ul class="list-events list-events--past">
    {% for post in pastEvents %}
    <li class="list-events-item" onclick="javascript:location.href='{{ post.link }}'">
      <div>{{ post.dateEvent|date("d.m.Y")|escape('wp_kses_post') }}</div>
      <a class="title" href="{{ post.link }}">{{ post.title|e }}</a>
    </li>
    {% endfor %}
  </ul>
  
{% endblock %}
