{% extends 'templates/_document.twig' %}

{% block content %}
  
<ul class="grid grid-home">
  {% for post in latestPosts %}
  <li class="grid-item grid-item--{{ post.type.labels.singular_name }}">
    <a class="grid-item-link" href="{{ post.link }}">
      {% if post.thumbnail %}
      <div class="featuredInfo">
        <p class="title">{{ post.title }}</p>
      </div>
      {% endif %}
      <div class="featuredImage">
        {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeFull' }, noComponentSpacing: true }) }}
      </div>
      <div class="featuredInfo">
        <div class="date">{{ post.datePost|date("d.m.Y")|escape('wp_kses_post') }}</div>
        <div class="post-type">{{ post.type.labels.singular_name }}</div>
      </div>
    </a>
  </li>
  {% endfor %}
</ul>

{% for component in post.meta('pageComponents') %}
  {{ renderComponent(component) }}
{% endfor %}
  
{% endblock %}
