{% extends 'templates/_document.twig' %}

{% block content %}
  {# {% for component in post.meta('pageComponents') %}
    {{ renderComponent(component) }}
  {% endfor %} #}
  <ul class="list-podcasts">
    {% for post in podcastlist %}
      <li class="list-podcasts-item">
        <a href="{{ post.link }}">
          <div class="content">
            <p class="title">{{ post.title|e }}</p>
            {# <p>{{ post.dateEpisode|date("d.m.Y")|escape('wp_kses_post') }}</p> #}
            <div class="featuredImage">
              {{ renderComponent('BlockImage', { image: post.thumbnail, options: { size: 'sizeFull' }, noComponentSpacing: true }) }}
            </div>
          </div>
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
