{% extends 'templates/_document.twig' %}

{% block content %}
  <article class="post">
    <header class="post-header">
      <h1>{{ post.title }}</h1>
    </header>
    <section class="post-main">
      {% for component in post.meta('artistComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    <section class="post-related">
      {{ renderComponent('GridEventsLatest', {'title': ('Events'),'taxonomies': post.categories() }) }}
      {{ renderComponent('GridPodcastsLatest', {'title': ('Podcasts'),'taxonomies': post.categories() }) }}
      {{ renderComponent('GridArticlesLatest', {'title': ('Article'),'taxonomies': post.categories() }) }}
    </section>
  </article>
{% endblock %}
