{% if items|length > 0 %}
<div class="flyntComponent" is="flynt-block-artist-object">
  <div class="container">
    {% for item in items %}
    <figure>
    <img class="figure-image lazyload"
      src="{{ item.thumbnail.src|resize(500) }}"
      alt="{{ item.thumbnail.alt|e }}">
      <figcaption class="figure-caption">{{ item.thumbnail.caption|e }}</figcaption>
    </figure>
    <div class="socials">
      <ul class="list">
          <li class="panel">
            <a class="" href="{{ item.link }}" type="button">Read More</a>
          </li>
      </ul>
    </div>
    <div class="bio">
      <p class="title pillCircle">{{ item.title }}</p>
      {% for BlockArtistInfo in artistComponents %}
          {% if content_block.acf_fc_layout == 'BlockArtistInfo' %} 
              {{content_block.bioHtml}}
          {% endif %}
      {% endfor %}
      {# <p>{{ item.meta('bioHtml') }}</p> #}
      {# <p class="">{{ item.post_content }}</p> #}
      {# {{ renderComponent('BlockArtistInfo', { bioHtml: item.bioHtml }) }} #}
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
